@font-face {
  font-family: 'BobbiTheHippie';
  src: url('../public/fonts/BobbiTheHippie.otf') format('opentype');
}

.header {
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 20px 0;
}

.header h1 {
  font-family: 'BobbiTheHippie', cursive;
  font-size: 4vw;
  margin: 0;
}

.vinyl-list {
  font-family: 'Arial', sans-serif; /* Hier können Sie eine alternative Standardschriftart festlegen */
}
